* {
  margin: 0px;
  box-sizing: border-box;
}
.gaming-video-item {
  width: 120px;
}
.gaming-thumbnail-img {
  width: 100%;
  border-radius: 10px;
}
.video-details {
  padding-top: 15px;
}
.game-title {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  margin-bottom: 5px;
}
.game-stats {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 20px;
}
.themed-game-title {
  color: #e2e8f0;
}
@media screen and (min-width: 768px) {
  .gaming-video-item {
    width: 150px;
  }
  .gaming-thumbnail-img {
    height: 200px;
  }
}
