* {
  margin: 0px;
  box-sizing: border-box;
}
.gaming-page-container {
  width: 100%;
  height: 95vh;
}
.gaming-icon-container {
  background-color: #d7dfe9;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.gaming-icon {
  width: 25px;
  height: 25px;
  color: #ff0000;
}
.gaming-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 23px;
}
.gaming-video-list {
  list-style-type: none;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 45px;
}
.themed-icon-cont {
  background-color: #0f0f0f;
}
.themed-game-head {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .gaming-page-container {
    display: flex;
  }
  .gaming-icon-container {
    width: 60px;
    height: 60px;
  }
  .gaming-heading {
    font-size: 25px;
  }
  .gaming-video-list {
    padding-left: 40px;
  }
}
