* {
  margin: 0px;
  box-sizing: border-box;
}
.video-item-container {
  margin-bottom: 20px;
}
.thumbnail-img {
  width: 100%;
}
.video-sub-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.video-about-container {
  margin-left: 10px;
}
.channel-img {
  width: 32px;
}
.video-title {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 20px;
}
.themed-title {
  color: #ebebeb;
}
.video-stats {
  margin-top: 10px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: disc;
}
.stat-item1 {
  width: 70px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 11px;
  list-style-type: none;
}
.stat-item2 {
  width: 70px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 11px;
}
.stat-item {
  width: 70px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 11px;
}
.video-link {
  text-decoration: none;
}
@media screen and (min-width: 576px) {
  .video-item-container {
    width: 200px;
  }
  .stat-item1 {
    width: 100%;
    margin-bottom: 5px;
  }
  .video-sub-container {
    padding: 0px;
  }
}
@media screen and (min-width: 768px) {
  .video-item-container {
    width: 230px;
  }
  .stat-item2 {
    list-style-type: none;
  }
}
