* {
  margin: 0px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .side-nav-link-list {
    width: 100%;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 15px;
  }
  .side-link-icon {
    margin-right: 20px;
  }
  .contact-details-container {
    padding-left: 20px;
    margin-bottom: 40px;
  }
  .contact-head {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
  }
  .social-link-list {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 0px;
    list-style-type: none;
    display: flex;
  }
  .add-color {
    color: #ff0000;
  }
  .social-links {
    width: 30px;
    margin-right: 10px;
  }
  .contact-msg {
    width: 200px;
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 25px;
  }
  .link {
    text-decoration: none;
  }
  .themed-text {
    color: #d7dfe9;
  }
}
