* {
  margin: 0px;
  box-sizing: border-box;
}
.trend-video-item {
  width: 100%;
  margin-bottom: 50px;
  background-color: transparent;
}
.trend-thumbnail-img {
  width: 100%;
  height: 220px;
}
.video-sub-details {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}
.video-title {
  font-size: 13px;
  font-weight: 500;
}
.stat-item1 {
  width: 60px;
}
.stat-item2 {
  width: 70px;
  color: #475569;
  font-family: 'Roboto';
  font-size: 11px;
}
.themed-item-title {
  color: #ebebeb;
}
@media screen and (min-width: 576px) {
  .trend-video-item {
    display: flex;
    align-items: flex-start;
  }
  .channel-img {
    display: none;
  }
  .trend-thumbnail-img {
    width: 330px;
    height: 200px;
  }
  .stat-item1 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .stat-item2 {
    list-style-type: none;
  }
  .video-title {
    font-size: 15px;
    line-height: 28px;
  }
}
