* {
  margin: 0px;
  box-sizing: border-box;
}

.nav-list-items {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
}
.logo-link-item {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-logo-img {
  width: 100px;
  cursor: pointer;
}
.nav-btn-item {
  margin-left: 5px;
}
.theme-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 2px;
}
.menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-dark {
  color: #ffffff;
}
.profile-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #3b82f6;
  margin-left: 5px;
}
.logout-sm {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.logout-sm-dark {
  color: #ffffff;
}
.logout-lg {
  display: none;
  background-color: transparent;
  border: 1px solid #3b82f6;
  cursor: pointer;
  color: #3b82f6;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  border-radius: 2px;
  width: 60px;
  margin-left: 10px;
}
.logout-lg-dark {
  color: #ffffff;
  border-color: #ffffff;
}
.theme-dark-logo {
  width: 19px;
  height: 19px;
}
.theme-light-logo {
  width: 19px;
  height: 19px;
  color: #ffffff;
}

.close-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}
.logout-popup-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}
.themed-logout {
  background-color: #212121;
}
.logout-btns {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.themed-close-icon {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .logout-sm {
    display: none;
  }
  .profile-btn {
    display: inline-block;
  }
  .logout-lg {
    display: inline-block;
  }

  .page-logo-img {
    width: 120px;
    margin-top: 5px;
  }
  .profile-img {
    width: 25px;
  }
  .theme-logo {
    width: 20px;
    height: 20px;
  }
}
