.menu-container {
  width: 100%;
  height: 350px;
  padding-left: 0px;
  list-style-type: none;
}
.popup-link-icon {
  margin-right: 15px;
  width: 16px;
  height: 16px;
}

.popup-link {
  text-decoration: none;
}

.themed-pop-link {
  color: ;
}
.add-color {
  color: #ff0000;
}
