* {
  margin: 0px;
  box-sizing: border-box;
}

.login-form-container {
  width: 90%;
  max-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 4px 16px 0px #e2e8f0;
  border-radius: 5px;
}
.themed-login-form {
  background-color: #181818;
  box-shadow: none;
}
.page-logo-img {
  width: 150px;
  margin-bottom: 30px;
  align-self: center;
}
.password-display-container {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.show-password-text {
  color: #000000;
  font-family: 'Roboto';
  font-size: 14px;
}
.show-pass-themed {
  color: #ffffff;
}
.check-box {
  width: 15px;
  height: 15px;
}
.error-msg {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
}
