* {
  margin: 0px;
  box-sizing: border-box;
}
.home-page-container {
  width: 100%;
  height: 95vh;
}
.premium-banner-container {
  width: 100%;
  height: 200px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.premium-details-container {
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.nxt-watch-logo {
  width: 130px;
}
.premium-context {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 25px;
}
.premium-get-btn {
  width: 110px;
  background-color: transparent;
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #1e293b;
  padding: 8px;
}
.premium-close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #1e293b;
  margin-right: 10px;
}
.home-watch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container {
  background-color: transparent;
  width: 95%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #7e858e;
  display: flex;
  align-items: center;
}
.search-input {
  background-color: transparent;
  width: 80%;
  height: 29px;
  border: none;
  padding-left: 10px;
  outline: none;
  color: #1e293b;
  font-family: 'Roboto';
}
.search-btn {
  width: 20%;
  height: 29px;
  border: none;
  border-left: 1px solid #7e858e;
  cursor: pointer;
  color: #7e858e;
}
.themed-text {
  color: #ebebeb;
}
.themed-btn {
  background-color: #383838;
}

.video-list-container {
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.home-loader-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.failure-img {
  width: 200px;
}
.no-video-img {
  width: 200px;
}

@media screen and (min-width: 576px) {
  .home-watch-container {
    align-items: flex-start;
    padding: 15px;
  }
  .search-container {
    width: 400px;
    margin-bottom: 50px;
  }
  .video-list-container {
    column-gap: 15px;
  }
  .search-input {
    height: 28px;
  }
  .search-btn {
    height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .home-page-container {
    display: flex;
  }
  .search-container {
    margin-bottom: 25px;
  }
  .failure-img {
    width: 230px;
  }
  .no-video-img {
    width: 230px;
  }
}
